@font-face {
    font-family: GoogleSans;
    src: url(/Font/GoogleSans-Regular.ttf);
}

@font-face {
  font-family: GoogleSansBold;
  src: url(/Font/GoogleSans-Bold.ttf);
}

body {
  font-family: GoogleSans;
  margin: 0;
  padding: 0;
}

.bg {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 0px;
    top: -1px;
    z-index: 0;
  }

.bg img {
  height: 98vh;
}

.tkn {
  display: flex;
  justify-content: flex-end;
}
.tkn img {
    position: absolute;
    height: 100vh;
    top: 16px;
    transform: scale(90%);
    z-index: 1;
 }
 
 h2 {
    font-family: GoogleSansBold;
    width: 200px;
    height: 185px;
    position: absolute;
    left: 75px;
    top: 60px;
    z-index: 1;
    font-size: 65px;
    color: #61DFEC;
 }

 p {
  display: block;
  position: absolute;
  width: 480px;
  height: 100px;
  font-size: 25px;
  left: 75px;
  top: 285px;
  color: rgba(0, 0, 0, 0.5);
 }

 button {
  font-family: GoogleSansBold;
  font-size: 20px;
  width: 175px;
  height: 60px;
  position: absolute;
  top: 415px;
  left: 75px;
  z-index: 1;
  background: #27C7FE;
  color: white;
  border: 2px solid #27C7FE;
  border-radius: 1in;
  cursor: pointer;
  transition-duration: 0.5s;
  padding: 15px;
 }

 button:hover {
  background-color: white;
  color: #27C7FE;
 }

 @media (max-width: 1115px) {
  .bg img {
    height: 85vh;
  }

  .tkn img {
    height: 86vh;
  }

  p {
    font-size: 20px;
    width: 350px;
    height: 100px;
    top: 260px;
  }

  h2 {
    font-size: 50px;
    width: 160px;
    height: 185px;
    top: 100px;
  }

  button {
    top: 350px;
    width: 125px;
    height: 40px;
    font-size: 16px;
    padding: 0px;
  }
 }

 .isPlay_t {
  animation-name: fade_t;
  animation-duration: 1s;
  transition: 1s ease;
}

.isPlay_l {
  animation-name: fade_l;
  animation-duration: 0.9s;
  transition: 0.9s ease;
}

.isPlay_r {
  animation-name: fade_r;
  animation-duration: 0.9s;
  transition: 0.9s ease;
}

@keyframes fade_t{
  0% {transform: translateY(-90px); opacity: 0.2;}
  100% {transform: translateY(0px); opacity: 1;}
}

@keyframes fade_l {
  0% {transform: translateX(-90px); opacity: 0.2;}
  100% {transform: translateX(0px); opacity: 1;}
}

@keyframes fade_r {
  0% {transform: translateX(90px); opacity: 0;}
  100% {transform: translateX(0px); opacity: 1;}
}

 @media (max-width: 768px) {
  .bg img {
    height: 60vh;
  }

  .tkn img {
    height: 60vh;
  }

  p {
    font-size: 15px;
    width: 200px;
    height: 100px;
    top: 210px;
  }

  h2 {
    font-size: 40px;
    width: 160px;
    height: 185px;
    top: 75px;
  }

  button {
    top: 300px;
  }
 }

 @media (max-width: 425px) {
  .bg img {
    height: 50vh;
  }

  .tkn img {
    height: 50vh;
  }

  p {
    font-size: 15px;
    width: 275px;
    height: 100px;
    top: 385px;
    left: 95px;
  }

  h2 {
    font-size: 30px;
    width: 375px;
    height: 185px;
    top: 325px;
    left: 25px;
  }

  button {
    top: 475px;
    left: 150px;
  }
 }