.contact__title {
    text-align: center;
    
}

.contact__title h2 {
    color: #61DFEC;
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 3.5em;
    line-height: 1em;
}

.contact__box--avatar {
    position: absolute;
    width: 40%;
    height: 80%;
    right: 4%;
    top: 7%;
    border: 4px solid #1E1E2C;
    border-radius: 10px;
}
.contact__content--box {
    position: absolute;
    display: flex;
    width: 40%;
    height: 45%;
    left: 2.5%;
    right: 5px;
    top: 25%;
    border: 4px solid #000000;
    border-radius: 8px;
}

.contact__box--infor {
    position: absolute;
    width: 50%;
    height: 70%;
    top: 25%;
    left: 5%;
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 27px;
    color: #000000;
}

.contact__box--title {
    position: absolute;
    width: 50%;
    height: 10%;
    top: 5%;
    left: 3%;
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 2em;
    line-height: 38px;
    color: #000000;
}
.contact__content--box2 {
    position: absolute;
    display: flex;
    width: 40%;
    height: 45%;
    right: 2.5%;
    left: 57%;
    top: 25%;
    border: 4px solid #000000;
    border-radius: 8px;
}

.contact__box--title2 {
    position: absolute;
    width: 50%;
    height: 10%;
    top: 5%;
    right: 3%;
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 2em;
    line-height: 38px;
    color: #000000;
    text-align: right;
}

.contact__box--infor2 {
    position: absolute;
    width: 70%;
    height: 70%;
    top: 25%;
    right: 3%;
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 27px;
    color: #000000;
    text-align: right;
}

.contact__box--avatar2 {
    position: absolute;
    width: 40%;
    height: 80%;
    left: 4%;
    top: 7%;
    border: 4px solid #1E1E2C;
    border-radius: 10px;
}

/* .contact__content {
    display: flex;
} */

.contact__footer {
    position: fixed;
    width: 100%;
    height: 11%;
    left: 0;
    bottom: 0;
    background: #61DFEC;
    text-align: center;
}

.contact__footer--img {
    padding-top: 12px;
    padding-bottom: 12px;
}



@media (max-width: 950px) {
    .contact__box--title, .contact__box--title2 {
        font-size: 1.5em;
    }
    .contact__content--box, .contact__content--box2 {
        height: 40%;
    }
    .contact__box--avatar, .contact__box--avatar2 {
        height: 70%;
    }
}

@media (max-width: 712px) {
    .contact__box--title, .contact__box--title2 {
        font-size: 1em;
    }
    .contact__box--infor, .contact__box--infor2 {
        font-size: 1em;
    }
    .contact__content--box, .contact__content--box2 {
        height: 37%;
    }
    .contact__box--avatar, .contact__box--avatar2 {
        height: 60%;
    }
}

@media (max-width: 610px) {
    .contact__title h2 {
        font-size: 1.75em;
    }
    .contact__content--box, .contact__content--box2 {
        width: 70%;
        margin: 0 auto;
        left: 0;
        right: 0;
        border: 2px solid #1E1E2C;
    }
    .contact__content--box {
        top: 10%;
    }
    .contact__content--box2 {
        top: 52%;
    }
    .contact__box--avatar, .contact__box--avatar2 {
        border: 2px solid #1E1E2C;
    }
    .contact__footer {
        height: 7%;
    }
    .contact__footer--img {
        height: 70%;
        padding-top: 1.5%;
        padding-bottom: 2%;
    }
}

@media (max-width: 333px) {
    .contact__box--title, .contact__box--title2 {
        font-size: 1em;
    }
    .contact__box--infor, .contact__box--infor2 {
        font-size: 0.8em;
    }
}

@media (max-width: 271px) {
    .contact__content--box, .contact__content--box2 {
        width: 230px;
    }
}