@font-face {
    font-family: GoogleSansBold;
    src: url(../../Font/GoogleSans-Bold.ttf);
}

@font-face {
    font-family: GoogleSans;
    src: url(../../Font/GoogleSans-Regular.ttf);
}

h1 {
    font-family: GoogleSansBold;
    color: #61DFEC;
    font-size: 60px;
    display: flex;
    justify-content: center;
    margin: 20px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
}

.container > div {
    margin: 25px;
}

img {
    border: 2px solid #61DFEC;
    height: 28vh;
    transition: transform 0.5s;
}

img:hover {
    transform: scale(1.3);
}

@media (max-width: 768px) {
    h1 {
        font-size: 50px;
    }

    img {
        height: 20vh;
    }
}

@media (max-width: 425px) {
    h1 {
        font-size: 30px;
    }

    img {
        height: 12vh;
    }
}