@font-face {
    font-family: GoogleSans;
    src: url(font/GoogleSans-Regular.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(font/Roboto-400.ttf);
}

:root {
    --blue-light-color: #61DFEC;
    --description-color: #6C6C6C;
    --box-shadow-color: #d1ecf5; 
    --main-color: #14497D;
    --bg-color: #27C7FE;
    --bg-dark-color: #1391bb;
    --third-color: #FFFFFF;
    --secondary-color: #B0EBFF;
    --highlight-color: rgb(235, 125, 125);
    --fourth-color: #31A7D2;
}

#top_btn {
    display: none;
    position: fixed;
    width: 6em;
    height: 6em;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: 4px solid var(--bg-color);
    border-radius: 50%;
    cursor: pointer;
    background: var(--third-color);
    color: var(--bg-color);
    font-size: medium;
    font-weight: 700;
    text-transform: uppercase;
    font-family: GoogleSans;
    padding-bottom: 10px;
}

#top_btn i {
    font-size: 3rem;
}

#top_btn div {
    padding-bottom: 10px;
    letter-spacing: 2px;
}
  
#top_btn:hover {
    transform: translateY(-5px);
    transition: 0.2s all linear;
}